{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ tweet.title }}</h2>
	<small>Author: {{ user.username }}</small> <br/><br/>

	{{ tweet.content|safe }}<br/><br/>
</div>
<br/><br/>
<a href="{{ url_for('home')}}" class="btn btn-outline-secondary btn-sm">Back To Home</a>

{% endblock %}